    .wrap {
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .content {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
    
    .inputWrap {
        text-align: center;
        padding: 1rem;
    }
    
    #textInput {
        margin: auto;
    }
    
    #result {
        font-family: sans-serif;
        padding: 2rem;
        margin: auto;
        background-color: aquamarine;
        /* width: min-content; */
        width: 6.5px;
        transition: width 0.2s;
        border-radius: 1rem /2rem;
        color: azure;
        font-size: 1rem;
    }
    
    .circle {
        animation-name: puyopuyo;
        animation-duration: 0.2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    
    @keyframes puyopuyo {
        0% {
            border-radius: 1rem /2rem;
        }
        50% {
            border-radius: 30%;
        }
        100% {
            border-radius: 1rem /2rem;
        }
    }